In [1]:
import pandas as pd
import numpy as np
import datetime
import dateutil
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from charts import stations_map
from settings import *

In [12]:
data_path = DATA_PATH+'Oceanic_Domain/3.4SeaLevel/Figure3.8/'
xls = pd.ExcelFile(
    data_path+'dub_all_1938_to_2016_v2.xlsx')
df = pd.read_excel(xls, 'dub_all_1938_to_2016')
df.rename(columns = {
    "Unnamed: 3":"Date",
    "Unnamed: 10":"AnnualDate",
    "Unnamed: 11":"AnnualAverage"
    }, inplace = True)
df

,dyear,Unnamed: 1,Unnamed: 2,Date,mtl,msl,Msl_OD_Malin,Unnamed: 7,Annual Average,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,1938.042,1938,1,1938-01-01,2.396,2.446,-0.153,NaN,1938.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1938.125,1938,2,1938-02-01,2.256,2.306,-0.293,NaN,1939.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1938.208,1938,3,1938-03-01,2.384,2.434,-0.165,NaN,1940.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1938.292,1938,4,1938-04-01,2.231,2.281,-0.318,NaN,1941.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1938.375,1938,5,1938-05-01,2.219,2.269,-0.330,NaN,1942.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,2016.625,2016,8,2016-08-01,2.570,2.620,0.021,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,2016.708,2016,9,2016-09-01,2.632,2.682,0.083,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,2016.792,2016,10,2016-10-01,2.577,2.627,0.028,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
945,2016.875,2016,11,2016-11-01,2.561,2.611,0.012,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,2016.958,2016,12,2016-12-01,2.606,2.656,0.057,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
monthlyTrace = go.Scatter(x=df["Date"],
                     y=df["Msl_OD_Malin"],
                    #  text=dataDF["11 Year Moving Average Totals"],
                     name='Monthly',
                    mode='markers+line',
                    marker=dict(color=TIMESERIES_COLOR_SECONDARY,
                                size=5,
                                opacity=0.5),
                     hovertemplate='%{x}<br>' +
                            '<b>Monthly Average</b><br>' +
                            'Mean Sea Level: %{y:.2f}mm<extra></extra>'
                            )
annualTrace = go.Scatter(x=df["AnnualDate"],
                     y=df["AnnualAverage"],
                    #  text=dataDF["11 Year Moving Average Totals"],
                     name='Annual',
                     mode='lines',  # 'line' is default
                     line_shape='spline',
                     line=dict(
                            color=TIMESERIES_COLOR_PRIMARY,
                            width=2),
                      hovertemplate='%{x}<br>' +
                            '<b>Annual Average</b><br>' +
                            'Mean Sea Level: %{y:.2f}mm<extra></extra>'
                            )
figure_3_8=go.Figure(data=[monthlyTrace, annualTrace])
figure_3_8

ValueError:
    Invalid value of type 'builtins.str' received for the 'mode' property of scatter
        Received value: 'markers+line'

    The 'mode' property is a flaglist and may be specified
    as a string containing:
      - Any combination of ['lines', 'markers', 'text'] joined with '+' characters
        (e.g. 'lines+markers')
        OR exactly one of ['none'] (e.g. 'none')

In [7]:

data_path = DATA_PATH+'Oceanic_Domain/3.4SeaLevel/Map3.4/'
malinHeadDF = pd.read_csv(data_path+'Map3.4_StationTable_MalinHead.txt')

malinHeadDF

,FID,Station_No,Station_Na,Body_Respo,OPW_Classi,MI_Classif,Final_Clas,Easting,Northing,Type__Tida,Status__Ac,General_co,Stakeholde,Longitude,Latitude
0,40,40060,Malin Head,OPW,GLOSS,Primary,G,242233.0,458521.0,T,A,,,-7.333807,55.371637

In [9]:
tidalGaugeDF = pd.read_csv(data_path+'Map3.4_StationTable_IrishNationalTideGaugeNetwork.txt')
tidalGaugeDF

,FID,Station_No,Station_Na,Body_Respo,OPW_Classi,MI_Classif,Final_Clas,Easting,Northing,Type__Tida,Status__Ac,General_co,Stakeholde,Longitude,Latitude
0,0,32060,Aashleagh Br,OPW,Primary,Unable to comment - more info required,P/U,89461.00000,264380.0000,ST,A,,,-9.670629,53.617556
1,1,16160,Adelphi Quay,OPW,Primary,Unable to comment - more info required,P/U,261337.00000,112322.0000,ST,A,,,-7.101594,52.259295
2,2,38060,Aranmore Island,MI,Secondary,Primary,S/P,168322.00450,415900.9764,T,A,,,-8.494936,54.989574
3,3,10060,Arklow Harbour,OPW,Primary,Primary,P,325170.00000,172800.0000,T,A,,,-6.144258,52.791739
4,4,34061,Ballina,OPW,Primary,Unable to comment - more info required,P/U,125058.00000,319280.0000,ST,A,,,-9.146184,54.117052
5,5,Not entered,Ballycotton,MI,Primary,Primary,P,200001.00000,63883.0000,T,A,,,-7.999985,51.827340
6,6,19068,Ballycotton,OPW,Primary,Primary,P,199948.00000,63930.0000,T,A,,,-8.000754,51.827762
7,7,33060,Ballyglass,MI,Primary,Primary,P,76866.00000,335439.0000,T,A,,,-9.889498,54.252887
8,8,Not registered,Bantry,BHC,Primary,Unable to comment - more info required,P/U,98925.00000,48497.0000,T,I,,,-9.461503,51.679950
9,9,23062,Blennerville,OPW,Primary,Unable to comment - more info required,P/U,81526.00000,113165.0000,ST,A,,,-9.735274,52.257538
10,10,27062,Carrigaholt,LHC,Primary,Unable to comment - more info required,P/U,84950.00000,151278.0000,T,A,,,-9.698259,52.600655
11,11,27063,Carrigaholt Pier,OPW,,,,84949.00000,151257.0000,T,A,,,-9.698267,52.600466
12,12,?,Castletownbere,MI,Primary,Primary,P,68311.00000,45776.0000,T,A,,,-9.902912,51.649166
13,13,27068,Clarecastle Br,OPW,Primary,Unable to comment - more info required,P/U,133900.00000,177717.0000,ST,A,,,-8.981181,52.846384
14,14,Not registered,Cobh,POC,Secondary,Unable to comment - more info required,S/U,180749.00000,66526.0000,T,A,,,-8.279407,51.850764
15,15,19160,Currach Club,OPW,Primary,,,169991.00000,72224.0000,T,A,,,-8.436039,51.901504
16,16,Not registered,Dingle,MI,Primary,Primary,P,44277.00000,100742.0000,T,A,,,-10.274738,52.136695
17,17,9064,Dublin port,Dublin City Council,Primary,Primary,P,318485.00000,234283.0000,ST,A,,,-6.220692,53.345502
18,18,9061,Dun Laoghaire,DLPC,,,,324700.00000,228700.0000,T,A,,,-6.129608,53.293932
19,19,6061,Dundalk Port,OPW,Primary,NaN,P/U,305933.00000,307727.0000,ST,A,,,-6.384043,54.007844
20,20,,Dunmore East,MI,Primary,Primary,P,269057.00000,99962.0000,T,A,,,-6.991056,52.147309
21,21,17061,Dunmore East,OPW,Primary,Primary,P,269131.00000,99944.0000,T,A,,,-6.989979,52.147138
22,22,34060,Enniscrone,OPW,Primary,,,128397.00000,330695.0000,T,A,,,-9.097839,54.220071
23,23,23066,Fenit,OPW,Primary,Primary,P,72933.00000,114689.0000,T,A,,,-9.861638,52.269311
24,24,24061,Ferry Br (Maigue),OPW,Primary,Unable to comment - more info required,P/U,148252.00000,152451.0000,ST,A,,,-8.764184,52.620907
25,25,12604,Ferrycarrig Bridge,OPW,,,,301479.00000,123132.0000,T,,,,-6.510549,52.350483
26,26,Not registered,Foynes,LHC,Primary,Unable to comment - more info required,P/U,124655.00000,152032.0000,T,A,,,-9.112495,52.614383
27,27,24064,Foynes,OPW,Primary,,,125124.00000,151872.0000,T,A,,,-9.105535,52.613010
28,28,29062,Galway Port,MI,Primary,Primary,P,130129.00000,224773.0000,T,A,,,-9.047351,53.268709
29,29,6062,Giles Quay,OPW,Primary,Unable to comment - more info required,P/U,315510.00000,305332.0000,T,A,,,-6.238932,53.984283
30,30,9067,Howth Harbour,MI,Primary,Primary,P,328560.00000,239638.0000,T,A,,,-6.067308,53.391245
31,31,,Howth Harbour 2,MI,,,,328574.00000,239619.0000,T,A,,,-6.067106,53.391071
32,32,31062,Inismore,MI,Secondary,Primary,S/P,88443.48835,208737.2772,T,A,,,-9.666376,53.117545
33,33,29011,Kilcolgan,OPW,Primary,Unable to comment - more info required,P/U,141839.00000,218512.0000,ST,A,,,-8.870703,53.213865
34,34,37060,Killybegs,MI,Primary,Primary,P,174547.00000,376374.0000,T,A,,,-8.394208,54.634832
35,35,,Kilrush Harbour,MI,Primary,Primary,P,99162.00000,154847.0000,T,A,,,-9.489646,52.635541
36,36,Not registered,Kinvarra,MI,Secondary,Secondary,S,137304.00000,210376.0000,ST,A,,,-8.936990,53.140247
37,37,,Lapps Quay,Cork City Council,,,,167925.00000,71774.0000,ST,A,,,-8.466016,51.897344
38,38,Not registered,Limerick Dock,OPW,Primary,Primary,P/U,156548.00000,156610.0000,ST,A,,,-8.642230,52.659010
39,39,24063,Limerick Dock,OPW,,,,156442.00000,156521.0000,T,A,,,-8.643785,52.658201
40,40,40060,Malin Head,OPW,GLOSS,Primary,G,242233.00000,458521.0000,T,A,,,-7.333807,55.371637
41,41,40061,Malin Head - Portmore Pier,MI,Primary,Primary,P,242233.00000,458521.0000,T,A,,,-7.333807,55.371637
42,42,23068,Moneycashen,OPW,Primary,Unable to comment - more info required,P/U,85853.00000,138095.0000,ST,A,,,-9.680407,52.482416
43,43,29015,Oranmore Br,OPW,Primary,Unable to comment - more info required,P/U,138039.00000,224977.0000,ST,A,,,-8.928840,53.271525
44,44,39061,Port Br,OPW,Primary,Unable to comment - more info required,P/U,218365.00000,411245.0000,ST,A,,,-7.713360,54.948415
45,45,6060,Port Oriel,OPW,Primary,Primary,P,317221.00000,284723.0000,T,A,,,-6.220741,53.798810
46,46,19069,Ringaskiddy NMCI,OPW,Primary,Unable to comment - more info required,P/U,179060.00000,64716.0000,T,A,,,-8.303812,51.834435
47,47,31061,Rossaveel Pier,OPW,Primary,Primary,P,95825.00000,225174.0000,T,A,,,-9.561518,53.266688
48,48,27069,Shannon,OPW,Primary,,,137964.00000,158971.0000,T,A,,,-8.917317,52.678419
49,49,35060,Sligo,MI,Primary,Primary,P,163015.00000,339683.0000,ST,A,,,-8.568217,54.304488
50,50,,The Whelps,SFPC,,,,149264.00000,158666.0000,T,A,,,-8.750196,52.676853
51,51,19067,Tivoli,POC,Primary,Unable to comment - more info required,P/U,171800.00000,72100.0000,T,A,,,-8.409745,51.900484
52,52,12066,Wexford Harbour,MI,Primary,Primary,P,305090.09840,121835.4318,ST,A,,,-6.457973,52.338155
53,53,30061,Wolfe Tone Br,OPW,Primary,Primary,P,129610.00000,224913.0000,ST,A,,,-9.055161,53.269899
54,54,18061,Youghal,OPW,Primary,,,210524.00000,78298.0000,T,A,,,-7.846896,51.956807